body {
  margin: 0px;
  background-color: #f7f7f7;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  gap: 20px;
  display: flex;
}

ul a {
  background-color: white;
  padding: 20px 40px;
  color: black;
  border-radius: 4px;
}

a {
  text-decoration: none;
  font-size: 1rem;
}

header img {
  padding: 70px;
}

header {
  margin-bottom: 80px;
}

.logo {
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
}

img {
  max-width: 100%;
}

main {
  display: grid;
  grid-template-columns: 500px 500px;
  justify-content: center;
}

article {
  display: grid;
  gap: 1.5rem;
  align-content: center;
  background-color: white;
  padding: 40px;
}

article p,
article h2,
article div {
  text-align: end;
  padding: 0px;
  margin: 0px;
}

article a {
  display: inline-block;
  background-color: #ee2211;
  color: white;
  padding: 15px 30px;
  border-radius: 4px;
}

.vantagens {
  display: grid;
  justify-content: end;
  align-content: center;
}

.vantagens h2 {
  background-image: url(../img/onda.svg);
  font-size: 4rem;
  padding: 40px;
  color: #c6c6c6;
  text-align: end;
}

.lista-de-vantagens {
  background-color: white;
  padding: 40px;
  margin: 0px;
  display: grid;
}

.lista-de-vantagens-items {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
  padding: 20px;
}

.lista-de-vantagens-items p {
  grid-column: 2;
}

h3,
p {
  padding: 0px;
  margin: 0px;
}

.lista-de-vantagens .lista-de-vantagens-items:nth-child(odd) {
  background-color: #f7f7f7;
}

footer {
  background-color: white;
  height: 100px;
  display: grid;
  justify-content: center;
  align-content: center;
  margin-top: 50px;
}

article::before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 4px;
  background-color: #ee2211;
  position: relative;
  top: -30px;
  right: -430px;
}

nav a:hover {
  border: 2px solid #ee2211;
  border-spacing: 0px;
}

article a:hover {
  background-color: #aa0f01;
}

.lista-de-vantagens-items:hover {
  border-left: 4px solid #ee2211;
  border-collapse: collapse;
}

nav a {
  border: 2px solid transparent;
}

.lista-de-vantagens-items {
  border-left: 4px solid transparent;
}
